{{ define "page_build_details" }}
<!doctype html>
<html lang="en">
    <head>
        {{ template "comp_head" }}
        <title>CI</title>
    </head>

    <body class="no-sidebar">
        <header class="container">
            <h1>Build</h1>
        </header>

        <main class="container">
            <section id="build-title">
                <div class="build-title-container">
                    <span class="build-title-name">{{ .RepoOwner }}/{{ .RepoName }} #{{ .Number }}</span>
                    <span class="build-title-message">{{ .Message }}</span>
                    <span class="build-title-status">{{ .Status }}</span>
                </div>
            </section>
            <section id="build-logs">
                <div class="log-container">
                    {{- range $i, $e := .LogLines }}
                    <span class="log-line-number">{{ add $i 1 }}</span>
                    <span class="log-text">{{ .Text }}</span>
                    <span class="log-time">{{ formatDuration .TimeSinceStart }}</span>
                    {{- end }}
                </div>
            </section>
        </main>
    </body>
</html>
{{ end }}
