{{ define "page_build_list" }}
<!doctype html>
<html lang="en">
    <head>
        {{ template "comp_head" }}
        <title>CI</title>
    </head>

    <body class="no-sidebar">
        <header class="container">
            <h1>Builds</h1>
        </header>

        <main class="container">
            <section id="builds">
                <ul class="build-list">
                    {{- range .BuildCards }}
                    <a href="/builds/{{ .ID }}" class="build-card-link">
                        <li class="build-card">
                            <div class="build-details-item status">{{ .Status }}</div>
                            <div class="build-details-item author">{{ .Author }}</div>
                            <div class="build-details-item message">{{ .Message }}</div>
                            <div class="build-details-item ref">{{ .Ref }}</div>
                            <div class="build-details-item duration">
                                {{ if .Duration }}{{ formatDuration .Duration }}{{ else }}N/A{{ end }}
                            </div>
                            <div class="build-details-item commit-sha">{{ .CommitSHA }}</div>
                            <div class="build-details-item created">{{ formatTime .Started "Jan 2, 15:04" }}</div>
                        </li>
                    </a>
                    {{- end }}
                </ul>
            </section>
        </main>
    </body>
</html>
{{ end }}
