{{ define "page_build_details" }}
<!doctype html>
<html lang="en">
    <head>
        {{ template "comp_head" }}

        <title>CI</title>
    </head>

    <body>
        <header>
            <h1>Build</h1>
        </header>

        <main>
            {{ template "comp_update_poller" . }}

            {{ template "comp_build_header" . }}

            <section id="build-logs">
                {{ template "comp_log_container" . }}
            </section>
        </main>
    </body>
</html>
{{ end }}


{{ define "resp_build_details_update" }}
{{ template "comp_log_container" . }}

{{ template "comp_build_header" . }}

{{ template "comp_update_poller" . }}
{{ end }}


{{ define "comp_update_poller" }}
<!-- Only poll when there are still changes expected -->
{{ if or (eq .Status "pending") (eq .Status "running") }}
<div
    id="update-poller"
    hx-get="/hx/builds/{{ .ID }}?fromLine={{ .LastLogLineNr }}"
    hx-trigger="
        every 1s [document.visibilityState === 'visible'],
        visibilitychange[document.visibilityState === 'visible'] from:document
    "
    hx-swap="outerHTML"
></div>
{{ end }}
{{ end }}


{{ define "comp_build_header" }}
<section id="build-header" hx-swap-oob="outerHTML">
    <div class="build-header-container">
        <span class="build-header-name">{{ .RepoOwner }}/{{ .RepoName }} #{{ .Number }}</span>
        <span class="build-header-message">{{ .Message }}</span>
        <span class="build-header-status" style="{{ template "comp_build_status_color" .Status }}">{{ .Status }}</span>
    </div>
</section>
{{ end }}


{{ define "comp_log_container" }}
<div id="log-container" class="log-container" hx-swap-oob="beforeend">
    {{- range $i, $e := .LogLines }}
        <span class="log-line-number">{{ .Number }}</span>
        <span class="log-text">{{ .Text }}</span>
        <span class="log-time">{{ formatDuration .TimeSinceStart }}</span>
    {{- end }}
</div>
{{ end }}
