.card-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
    background-color: var(--card-background-color);
}

.card-link,
.card-link:visited {
    display: block;

    text-decoration: none;
    color: inherit;
}

.build-details {
    display: grid;
    grid-template-columns: 12rem 1fr 12rem 10rem;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "status message ref        duration"
        "author message commit_sha created ";
}

.build-details-item {
    padding: 0.5rem 1rem;

    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}

.status {
    grid-area: status;
}
.ref {
    grid-area: ref;
}
.message {
    grid-area: message;

    display: flex;
    align-items: center;

    white-space: normal;
    text-overflow: ellipsis;
}
.author {
    grid-area: author;
}
.commit-sha {
    grid-area: commit_sha;
}
.duration {
    grid-area: duration;

    display: flex;
    justify-content: flex-end;
}
.created {
    grid-area: created;

    display: flex;
    justify-content: flex-end;
}
